name: ubu omni r

on:
  push:
    branches: main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-22.04]    
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: setup cmake
      uses: jwlawson/actions-setup-cmake@v2
      with:
        cmake-version: 'latest'
    - name: install
      run: |
        sudo apt-get install -y libpoco-dev libyaml-cpp-dev
        sudo apt-get install -y python3-pip python3-venv
    - name: test
      run: |
          mkdir build
          cd build
          cmake -DSITE:STRING="${{ matrix.os }}" -DBUILDNAME="omni/r" ..
          ctest -C Release -D Experimental
          cd ..
      env:
        CTEST_EXPERIMENTAL_INSTRUMENTATION: ec7aa2dc-b87f-45a3-8022-fe01c5f59984
        CTEST_USE_INSTRUMENTATION: 1
        CTEST_USE_VERBOSE_INSTRUMENTATION: 1
    - name: poco
      run: |
          mkdir poco
          cd poco
          cmake -DPOCO=ON -DSITE:STRING="${{ matrix.os }}" -DBUILDNAME="omni/r/poco" ..
          ctest -C Release -D Experimental
      env:
        CTEST_EXPERIMENTAL_INSTRUMENTATION: ec7aa2dc-b87f-45a3-8022-fe01c5f59984
        CTEST_USE_INSTRUMENTATION: 1
        CTEST_USE_VERBOSE_INSTRUMENTATION: 1
